* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.game {
/*     position: absolute; */
/*     left: 50%; */
/*     top: 50%; */
/*     -webkit-transform: translate(-50%, -50%); */
/*     transform: translate(-50%, -50%); */
}
